[Unit]
Description=wbor-endec
Requires={DEVICE}
After={DEVICE}
After=network.target

[Service]
Type=simple
Environment=SECRETS_PATH={PATH_TO_SECRETS_JSON}
ExecStart={PYTHON3_EXEC_PATH} {ENDEC_SCRIPT_PATH} --config {PATH_TO_CONFIG_JSON}
WorkingDirectory={SAME DIR CONTAINING SCRIPT_PATH}
User={MACHINE_USER}
Restart=always
RestartSec=5
# Avoid leaking secrets
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
