[Unit]
Description=wbor-endec
Requires={DEVICE}
After={DEVICE}
After=network.target

[Service]
ExecStart={PYTHON_EXEC} {SCRIPT_PATH} {COMMAND LINE OPTIONS}
WorkingDirectory={SAME DIR CONTAINING SCRIPT_PATH}
User=
Restart=always
RestartSec=10
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target