[Unit]
Description=wbor-endec
Requires={DEVICE}
After={DEVICE}
After=network.target

[Service]
Type=simple
ExecStart={PYTHON3_EXEC_PATH} {ENDEC_SCRIPT_PATH} --config {PATH_TO_CONFIG_JSON}
# systemd v251+ mounts secrets.json into memfd
LoadCredential=secrets.json:/etc/openendec/secrets.json
WorkingDirectory={SAME DIR CONTAINING SCRIPT_PATH}
User={MACHINE_USER}
Restart=always
RestartSec=5
# Avoid leaking secrets
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
